
 /* open-sans-regular - latin */
 @font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v35-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
 /* custom property */
 :root{
    --font-family:'Open Sans';
    --text-color:#444444;
    --brand-color:#0EB4C1;
    --white-color:#FFFF;
    --button-bg-color:#DE2E54;
    --title-color:#000000;
  }
  /* global styles */
  * ::before
      ::after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    * {
      box-sizing: border-box;
    }
    html{
      font-size: 62.5%;
      height: 100%;
      scroll-behavior: smooth;
    }
    body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      font-family:var(--font-family);
      color: var(--text-color);
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
    }
    main{
      flex-grow: 1;
    }
    h1,
    h2,
    h3,
    h4,
    h5{
      margin: 0;
    }
    ol, ul {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      font-size: inherit;
    }
    img{
      display: flex;
      object-fit: cover;
    }
    .container {
      width: 100%
      max-width:
      margin: 0 auto;
      padding: 0 1.5rem;
    }
    /* NAVBAR */
    .header {
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--white-color);
    }
    .header__container {
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .container {
    }
    .sitenav {
    }
    .sitenav__list {
        display: flex;
        align-items: center;
    }
    .sitenav__link {
        margin-right: 40px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition:0.3s;
    }
    .sitenav__link:hover{
      color: red;

    }
    .sitenav__link:active{
      color: var(--text-color);
    }
    .main {
    }
    .hero {
      background-color: var(--brand-color);
      height: 533px;
    }
    .hero__container {
      width: 1440px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .hero__info {
      width: 700px;
      height: 293px;
      display: flex;
      flex-direction: column;
      font-family: var(--font-family);
      color: var(--white-color);
    }
    .hero__title {
      width: 700px;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
    }
    .hero__des {
      width: 440px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      padding-bottom: 36px;
    }
    .hero__img{
      margin-top: 26px;
    }
    .button{
    width: 190px;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: ;
    font-family: var(--font-family);
    text-align: center;
    border:2px solid var(--button-bg-color);
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    transition: 0.5s;
    }
    .button:hover{
      color: var(--button-bg-color);
      border: solid 2px var(--button-bg-color);
      background-color: var(--white-color);
    }
    .button:active{
      background-color: #de2e54c9;
      color: var(--white-color);
    }
    /* SERVER */
    .server {
      display: flex;
      flex-direction: column;
      gap: 8rem;
      align-items: center;
    text-align: center;
     margin-top: 120px;
    }
    .server__card {
      text-align: left;
      display: flex;
      justify-content: center;
      align-items:center;
      gap:64px;
    }
    .server__info h4{
      height: 29px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      color: var(--title-color);
    }
    .server__img{
      box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
      border-radius: 24px;
    }
    .server-des {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      width:600px;
    }
    .footer{
      margin-top: 10rem;;
    }
    .first-section {
      color: var(--white-color);
      padding-top: 64px;
      background-color: var(--brand-color);
      text-align: center;
      height:253px;
    }
    .first-section h4{
      font-style: normal;
      margin-bottom: 46px;
      font-weight: 700;
      font-size: 36px;
      line-height: 120%;
    }
    .contact {
      margin-right: 5rem;
      width: 200px;
      padding: 10px;
      border: 2px solid var(--white-color);
      border-radius: 10px;
    }
    .contact:hover{
      background-color: var(--button-bg-color);
      color: var(--white-color);
      border: none;
    }
    .second-section{
      color: var(--white-color);
      height: 100px;
      background-color: #222222;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }